# Wordpress

*.log
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

license.txt
readme.html
sitemap.xml
sitemap.xml.gz


# SPA

elm-stuff
node_modules
microsite/public/main.js
microsite/public/style.min.css
