body {
  margin: 0;
  font-family: var(--sans-serif);
}

.pointer {
  cursor: pointer;
}

.handwriting {
  font-family: Caveat;
}

.br5 {
  border-radius: 2rem;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
